<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form wicket:id="customerForm" id="customerForm">
		<span>Name</span><input wicket:id="firstname" type="text" id="firstname" /><br/>
		<span>Surame</span><input wicket:id="surname" type="text" id="" /><br/>
		<span>Username</span><input wicket:id="username" type="text" id="username" /><br/>
		<span>Password</span><input wicket:id="password" type="password" id="password" /><br/>
		<span>Gender</span><input wicket:id="gender" type="text" id="gender" /><br/>
		<span>Companyname</span><input wicket:id="companyname" type="text" id="companyname" /><br/>
		<span>Fax</span><input wicket:id="fax" type="text" id="fax" /><br/>
		<span>WEb</span><input wicket:id="web" type="text" id="web" /><br/>
		<span>Note</span><input wicket:id="note" type="text" id="discount" /><br/>
		<span>Discount</span><input wicket:id="discount" type="text" id="discount" /><br/>
		<input type="submit" value="submit">
	</form>

</body>
</html>