<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Willkommen Zum goldenen Löwen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>
    <body>
    	
    	<div wicket:id="mainNav">
    	</div>
    	
    	<div class="container">
    	
	    	<div class="page-header">
			  <h1>Wilkommen zum goldenen Löwen</h1>
			</div>
			
			<div class="jumbotron">
			  <h1>Hello, world!</h1>
			  <p><a class="btn btn-primary btn-lg" href="#" wicket:id="list_rooms" role="button">Zimmer Buchen</a></p>
			</div>
	    	
    		<h1>Test</h1>
    		<table class="table table-striped">
    			<tr>
    				<td>Col 1</td>
    				<td>Col 2</td>
    			</tr>
    			<tr>
    				<td>Col 1</td>
    				<td>Col 2</td>
    			</tr>
    		</table>
    	</div>

    </body>

    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</html>